.header{
    width: 100vw;
    height: 68px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
.divmeio{
    display: flex;
    gap: 24px;
    height: auto;
}
.divmeio a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}
.divicons {
    display: flex;
    gap: 32px;
    height: auto;
}
.divprodutos{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.opcprodutos{
    position: absolute;
    margin-top: 51px; 
    background-color: white;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.divcolec{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.opcolec{
    position: absolute;
    margin-top: 51px; 
    background-color: white;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

/*BODY part 1*/
.homepage{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    width: 90%;
    margin-top: 100px;
}
.div1  h1{
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: Cabinet Grotesk;
    font-size: 94px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 94px */
    letter-spacing: -1.88px;
    width: 50%;
}
.homepage button{
    background: var(--c10, #1B1B1B);
    box-shadow: 8px 8px 0px 0px #BDBDBD;
    color: white;
    padding: 12px 24px;
    font-size: 24px;

}
/*BODY part 2*/
.div1 h2{
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: Cabinet Grotesk;
    font-size: 59px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 59px */
    letter-spacing: -1.18px;
}
.images{
    display: flex;
    gap: 15px;
}
.images p{
    position: absolute;
    margin-top: -60px;
    color: white;
    margin-left: 20px;
    color: var(--c2, #F9F9F9);
    font-family: Cabinet Grotesk;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.left{
    display: flex;
    gap: 12px;
    flex-direction: column;
}