@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Montserrat:wght@300&family=Poppins:wght@300&family=Space+Grotesk:wght@500&display=swap');

/*HEADER*/
.header {
    width: 98vw;
    height: 68px;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--c4, #BDBDBD);
}

.divmeio {
    display: flex;
    gap: 24px;
    height: auto;
}

.divmeio a {
    color: black;
    text-decoration: none;
    font-weight: bolder;

}

.divicons {
    display: flex;
    gap: 32px;
    height: auto;
}

.divprodutos {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.opcprodutos {
    display: flex;
    gap: 5px;
    flex-direction: column;
    position: absolute;
    margin-top: 51px;
    background-color: #F9F9F9;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid var(--c4, #BDBDBD);
}

.divcolec {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.opcolec {
    display: flex;
    gap: 5px;
    flex-direction: column;
    position: absolute;
    margin-top: 51px;
    background-color: #F9F9F9;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid var(--c4, #BDBDBD);
}

/*HOMEPAGE - part 1*/
.homepage {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    width: 90%;
    margin-top: 100px;
}

.div1 h1 {
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-family: 'Cabinet grotesk', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    /* 94px */
    letter-spacing: -1.88px;
    width: 100%;
    margin-top: 35px;
}

.homepage button {
    background: var(--c10, #1B1B1B);
    box-shadow: 8px 8px 0px 0px #BDBDBD;
    color: #F9F9F9;
    padding: 12px 24px;
    font-size: 24px;
    min-width: 200px;
}

/*HOMEPAGE - part 2*/
.div1 h2 {
    color: var(--c10, #1B1B1B);
    text-align: center;
    font-size: 59px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    /* 59px */
    letter-spacing: -1.18px;
    height: 68px;
}

.images {
    display: flex;
    gap: 15px;
}

.images p {
    position: absolute;
    margin-top: -60px;
    color: #F9F9F9;
    margin-left: 20px;
    color: var(--c2, #F9F9F9);
    font-family: Cabinet Grotesk;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

/*HOMEPAGE - part 3*/
.txtproduto {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    font-family: 'Inter', sans-serif;
}

.txtproduto span {
    color: #808080;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.gridprodutos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.spana {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    margin: 20px;
}

.spana::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 15px;
    right: -10px;
    width: 105%;
    height: 20%;
    background-color: #D1D1D1;
}

/*FOOTER*/
.footer {
    background-color: #1B1B1B;
    color: white;
    height: 210px;
    margin-top: 150px;
    display: flex;
    padding: 50px 170px;
    justify-content: space-between;
    align-items: center;
}

.inpimg {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 5px;
}

.leftfooter {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.leftfooter input {
    padding: 5px;
    width: 200px;
    background-color: #1B1B1B;
    border-color: white;
    color: #F9F9F9;
    border-width: 1px;
    height: 100%;
    box-sizing: border-box;
}

.leftfooter img {
    background-color: white;
    height: 100%;
}

.rightfooter {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.iconsfooter {
    display: flex;
    margin-top: 12px;
    gap: 6px;
    height: 30px;
}

.rightfooter p {
    font-size: 17px;
}

.fcontainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #808080;
}

.fDiv {
    height: 1000px;
    width: 1000px;
    background-color: white;
}

.fDivContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.fEditTitle {
    text-align: center;
}

.fEditBtn {
    background-color: white;
    color: #1B1B1B;
    border: 1px solid;
    width: 122px;
    height: 36px;
    margin-right: 10px;
}

.fEditTitle {
    text-align: center;
}

.fEditBtn:hover {
    background-color: #1B1B1B;
    color: white;
    border: 1px solid #1B1B1B;
    cursor: pointer;
}

.fSaveBtn {
    background-color: #1B1B1B;
    color: white;
    width: auto;
    height: 36px;
    width: 70px;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
}

.fSaveBtn:hover {
    background-color: white;
    color: #1B1B1B;
    cursor: pointer;
    border: 1px solid #1B1B1B;
}

.fImgEdit {
    width: 400px;
    height: auto;
}

.fImgColContainer {
    display: flex;
    flex-direction: column;
    width: 75px;
    padding-right: 5px;
}

.fImgCol {
    padding-bottom: 5px;
}

.fProdImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fProdEditContent {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.fEditNameContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.fEditNameContainer input {
    width: 300px;
    height: 40px;
    border: #1B1B1B solid 1px;
}

.fEditContainerInput {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.fEditStockContainer {
    display: flex;
    gap: 3px;
    margin-bottom: 40px;
}

.fEditStockLabel {
    font-weight: 700;
    border: 1px solid;
    padding: 8px;
    text-align: center;
    background-color: #D1D1D1;
    min-width: 30px;
}

.fEditStock {
    border: 1px solid;
    text-align: center;
    max-width: 40px;
    margin-left: -6px;
}

.fEditLabel {
    font-weight: 500;
}

.fEditLabelContainer {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.fEditLabel span {
    color: #808080;
}

.fEditPrice {
    display: flex;
    flex-direction: column;
    flex-direction: row;
}

.fEditPrice label {
    width: 100%;
}

.fEditPrice input {
    width: 50%;
}

.fEditPriceInput {
    height: 40px;
    border: 1px solid;
    margin-left: -2px;
    max-width: 100px;
}

.fEditPrice p {
    border: 1px solid;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1D1D1;
}

.fEditDescContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.fEditDesc {
    border: 1px solid;
    height: 90px;
    padding: 10px;
}

.fEditTagContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.fEditTagContainer input {
    border: 1px solid;
    height: 40px;
    width: 300px;
    padding: 3px;
}

.fEditColectionContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.fEditColectionContainer input {
    border: 1px solid;
    height: 40px;
    width: 300px;
    padding: 3px;
}